<div class="w-full rounded bg-white shadow-sm shadow-gray-500/50 space-y-3">
    <div class="grid grid-cols-2 gap-4 border-b border-gray-100 py-2 px-3">
        <div class="flex items-left space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-slate-700 my-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
            </svg>
            <div class="py-0.5 text-xl text-gray-500">
                Informacije proizvodenje
            </div>              
        </div>
        <button type="button" class="rounded-md bg-indigo-50 px-3 py-2 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100">Ogled podrobnosti.</button>

    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="space-y-3">
            <div class="text-xl text-slate-500 font-semibold text-center">
                Obratovanje
            </div>
            <div class="relative w-40 h-40 mx-auto">
                <svg class="w-full h-full" viewBox="0 0 100 100">
                  <!-- Background circle -->
                  <circle
                    class="text-gray-200 stroke-current"
                    stroke-width="10"
                    
                    cx="50"
                    cy="50"
                    r="40"
                    fill="transparent"
                  ></circle>
                  <!-- Progress circle -->
                  <circle
                    class="text-indigo-500  progress-ring__circle stroke-current"
                    stroke-width="10"
                    stroke-linecap="round"
                    cx="50"
                    cy="50"
                    r="40"
                    fill="transparent"
                    stroke-dashoffset="calc(400 - (400 * 45) / 100)"
                  ></circle>
                  
                  <!-- Center text -->
                  <text x="50" y="50" font-family="Verdana" font-size="12" text-anchor="middle" alignment-baseline="middle">70%</text>
              
                </svg>
            </div>
            
        </div>
        <div class="space-y-3">
            <div class="text-xl text-slate-500 font-semibold text-center">
                Efektivnost
            </div>
            <div class="relative w-40 h-40 mx-auto">
                <svg class="w-full h-full" viewBox="0 0 100 100">
                  <!-- Background circle -->
                  <circle
                    class="text-gray-200 stroke-current"
                    stroke-width="10"
                    
                    cx="50"
                    cy="50"
                    r="40"
                    fill="transparent"
                  ></circle>
                  <!-- Progress circle -->
                  <circle
                    class="text-indigo-500  progress-ring__circle stroke-current"
                    stroke-width="10"
                    stroke-linecap="round"
                    cx="50"
                    cy="50"
                    r="40"
                    fill="transparent"
                    stroke-dashoffset="calc(400 - (400 * 45) / 100)"
                  ></circle>
                  
                  <!-- Center text -->
                  <text x="50" y="50" font-family="Verdana" font-size="12" text-anchor="middle" alignment-baseline="middle">70%</text>
              
                </svg>
            </div>
        </div>
    </div>
    <div class="w-full h-[135px]">
        
    </div>
</div>