<div class="p-4">
    <div class="grid grid-cols-4 gap-4">
        <div class="bg-productivity bg-cover rounded h-[150px] shadow-sm shadow-gray-500/50 grid grid-cols-3 gap-4 p-4">
            <div class="col-span-2">
                <div class="text-3xl text-white font-Sevillana">
                    Tvoja produktivnost
                </div>
                <div class="text-white txt-xl my-2 p-4">
                    Keep up the good work :)
                </div>
            </div>
            <div class="relative z-50">
                <div class="absolute radial-progress left-0 right-0 my-4  mx-auto z-50 text-white" style="--value:70;" role="progressbar">70%</div>
            </div>
        </div>
        <div>aa</div>
        <div>aa</div>
        <div>aa</div>
    </div>
</div>